@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* navbar */
:root {
    --black: rgb(0,0,0,.9);
    --lightPink: #FFEDFE;
    --hotPink: #BE0765;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--lightPink);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
}

.logo{
    font-weight: 300;
    text-transform: uppercase;
}

header {
    background: var(--black);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.nav-toggle {
    display: none;
}

/*  view of navbar when screen is small: hamburger style drop-down */
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

.nav-toggle-label:hover span,
.nav-toggle-label:hover span::before,
.nav-toggle-label:hover span::after {
    cursor: pointer;
    background: var(--hotPink); 
}

/* for when drop down happens */
nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--black);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400 ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--hotPink);
}

.nav-toggle:checked~nav {
    display:block;
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out .1ms;
}

/* display of navbar when screen is larger horizontallly: options shown on top */
@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;

    }

    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content:flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .login-item {
        /* Your existing styles for the list item containing the login link */
        display: inline-block;
        padding: 10px;
        background-color: #BE0765;
        box-shadow: 0 0 0 5px var(--hotPink); 
    }
    
    .login-item:hover {
        border-color: 5px solid var(--hotPink); 
        background-color: #FFEDFE;
    }

    .login-item a:hover{
        font-weight: 400;
    }

    .login-item a::before {
        content: '';
        display: none;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    /* makes little bar appear below what you hover over */
    nav a::before {
        content: '';
        display: block;
        height: 3.5px;
        background: var(--hotPink);
        position: absolute;
        bottom: -0.45em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }

}