<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reynodance Academy</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <h1 class="logo">ReynoDance Academy</h1>
        <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
        <nav>
            <ul>
                <li><a href="/about" class = "option"> About </a></li>
                <li><a href="/events" class = "option"> Events </a></li>
                <li><a href="/classes" class = "option"> Classes </a></li>
                <li class = "login-item"><a href="/logIn"> Log In </a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </header>
</body>
</html>